# Build output #
###############
/dist
/build

# IDE/Editor files #
####################
.vscode/
.idea/
*.swp
*.swo
*~

# Misc #
########
.env
.secret


# dotenv environment variables file #
######################################
.env
.env.test

